<h1 class="text-center">Sign Up</h1>

<form method="post" action="/user/new">
  <label>Firstname:</label>
  <input type="text" class="form-control" name="first_name">
  <br>
  <label>Email:</label>
  <input type="text" class="form-control" name="email">
  <br>
  <label>Cell Phone Number:</label>
  <input type="text" class="form-control" name="phone_number">
  <br>
  <label>Password:</label>
  <input type="password" class="form-control" name="password">
  <br>
  <input type="submit" class="btn btn-primary btn-lg" value="Sign Me Up.">

</form>