<div class="jumbotron">

  <img class="center-block tml-main" src="/images/tml2.png">

  <br>
  <br>
  <h1 class="text-center">Send Scheduled Text Messages.</h1>
  <br>
  <br>
  <br>
  <br>

  <div class="center-buttons">
    <a class="btn-primary btn-lg btn tml-main-btn" href="/user/new">Sign Up</a>
    <a class="btn-primary btn-lg btn tml-main-btn" href="/login">Login</a>
  </div>

</div>
